---
layout: template
---
<div class="topic_list_head">
  <div class="forum_name"><!-- |forum_name| --></div>
  <div class="topic_list_rows">
    <% TOPIC_ROWS %>
  </div>
  <div class="topic_list_announcements">
    <% ANNOUNCEMENTS %>
  </div>
  <div class="topic_list_head_vars" style="display:none">
    <div class="forum_id"><!-- |forum_id| --></div>
    <div class="forum_name"><!-- |forum_name| --></div>
    <div class="mod_form_end"><!-- |mod_form_end| --></div>
    <div class="forum_active"><!-- |forum_active| --></div>
    <div class="sort_options"><!-- |sort_options| --></div>
  </div>
</div>