
#copyright .row4 {
    font-size: inherit !important;
    padding-top: inherit !important;
    padding-bottom: inherit !important;
    line-height: inherit !important;
}
#copyright {
    width: 100%;
}