// Breadcrumb nav
@import "./support/support";
.login-nav {
  text-align: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  // color: $body-heading-color;

  @include container;

  @include fs-3;

  @include mq(md) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
  }
}

.login-nav-head {
  padding-left: 0;
  padding-bottom: $sp-1;
}

.login-nav-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap:  $sp-4;
  align-items: center;
  justify-content: center;
}

.login-nav-list-item {
  display: inline-block;
  @include fs-2;
}